.signIn__form {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.signIn__form > input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid var(--x-border-primary);
  border-radius: 20px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
