.homeContainer {
  display: flex;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.6;
  font-size: 250px;
}

.signInContainer {
  flex: 0.4;
  border-left: 1px solid red;
  min-width: fit-content;
}

.signIn__header {
  font-family: "Helvetica";
}

.signIn__header > h1 {
  font-weight: 800;
  font-size: 2rem;
}

.signIn__header > h3 {
  font-weight: 800;
  font-size: 1.1rem;
}

.Button {
  font-weight: 300;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.signIn__form {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.signIn__form > input {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid var(--x-border);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.signIn__or {
  text-align: center;
  font-family: inherit;
}

.tnc {
  color: var(--x-tncColour);
}
